.Back {
  display: flex;
  align-items: center;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 15px;
  @media (min-width: 700px) {
    top: 30px;
    left: 50px;
  }
  &:hover {
    cursor: pointer;
    img {
      transform: translateX(-10px);
    }
  }
  img {
    margin-right: 10px;
    height: 20px;
    transition: all 0.5s;
  }
}
