@import '../../app/theme.scss';

.Badge {
  border-radius: 5px;
  padding: 5px 30px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  width: fit-content;
  &.client {
    background-color: rgba(233, 136, 98, 0.38);
    color: $client;
  }
  &.artisan {
    background-color: $artisan;
    color: $white;
  }
}
