@import '../../app/theme.scss';

.Button {
  padding: 6px 10px;
  border-radius: 10px;
  width: fit-content;
  color: $white;
  font-size: 14px;
  @media (min-width: 700px) {
    font-size: 16px;
    padding: 8px 14px;
  }
  &.primary {
    background-color: $primary;
  }
  &.secondary {
    background-color: $secondary;
  }
  &.destructive {
    background-color: $destructive;
  }
  &:hover {
    cursor: pointer;
  }
}
