@import '../../app/theme.scss';

.Dashboard {
  display: flex;
  justify-content: space-between;
  .column-left {
    width: 38%;
    > div:first-child {
      margin-bottom: 30px;
    }
  }
  .column-right {
    width: 58%;
  }
}

.Dashboard_divTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
