@import '../../app/theme.scss';

.Dashboard {
  .hello {
    margin-bottom: 30px;
  }
  .columns {
    @media (min-width: 700px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .column-left {
    margin-bottom: 30px;
    @media (min-width: 700px) {
      width: 38%;
      margin-bottom: 0;
    }
    > div:first-child {
      margin-bottom: 30px;
    }
  }
  .column-right {
    @media (min-width: 700px) {
      width: 58%;
    }
  }
}

.Dashboard_divTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Dashboard_divSearch {
  margin-bottom: 20px;
  h2 {
    margin-bottom: 15px;
  }
}
