@import '../../app/theme.scss';

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Add {
    margin-top: 30px;
  }
}
