@import '../../app/theme.scss';

.Register {
  .checkboxs {
    display: flex;
    margin: 8px 0 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 700px) {
      flex-wrap: nowrap;
    }
    > div {
      width: 100%;
      padding-left: 30px;
      position: relative;
      display: flex;
      align-items: center;
      margin: 5px 0;
      @media (min-width: 700px) {
        width: 48%;
      }

      &:hover {
        cursor: pointer;
        &::before {
          background: $primary;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid $primary;
        transition: all 0.3s;
      }
      &.isCheck::before {
        background: $primary;
      }
    }
  }
  .input_job {
    display: flex;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s;
    &.show {
      opacity: 1;
      transform: translateY(0);
      z-index: 0;
    }
    label {
      margin: 10px 0 7px;
    }
    select {
      width: 100%;
      padding: 8px 12px;
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      font-family: 'Montserrat';

      &:focus {
        outline: none;
      }
    }
  }
  .link {
    margin-top: 30px;
    text-decoration: underline;
  }
}
