@import '../../app/theme.scss';

.ProjectItem {
  display: flex;
  box-shadow: 0px 10px 44px rgba(224, 224, 224, 0.5);
  border-radius: 13px;
  padding: 20px;
  background: $orange;
  color: $white;
  > div:first-child {
    width: 60%;
  }
  > div:last-child {
    width: 40%;
  }
}
