@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// COLORS
$white: #fff;
$black: #000000;
$primary: #b27e55;
$secondary: #245c60;
$client: #e98862;
$artisan: #245c60;
$orange: #e98862;
$destructive: #a00000;

.colorClient {
  color: $client;
}

.backgroundClient {
  background-color: $client;
}

.borderClient {
  border-color: $client;
}

.colorArtisan {
  color: $artisan;
}

.backgroundArtisan {
  background-color: $artisan;
}

.borderArtisan {
  border-color: $artisan;
}

body {
  font-family: 'Montserrat';
  background: rgba(178, 126, 85, 0.05);
}

p,
h2,
h1,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 24px;
  @media (min-width: 700px) {
    font-size: 38px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  background: $white;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  height: calc(100vh - 150px);
  overflow: scroll;
  animation: appear 0.5s forwards;
  padding-top: 45px;
  margin-top: 50px;
  @media (min-width: 700px) {
    height: calc(100vh - 200px);
    padding: 30px;
    padding-top: 60px;
    margin-top: 80px;
  }
}

.content_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.form_div2col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > input {
    width: 100%;
    @media (min-width: 700px) {
      width: 45%;
    }
  }
}

.center {
  text-align: center;
}

.button_submit {
  margin: 10px auto 0;
}
