.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .logo {
    height: 25px;
    &:hover {
      cursor: pointer;
    }
  }
  nav,
  .buttons,
  .links {
    display: flex;
    align-items: center;
  }
  .links {
    margin-right: 10px;
  }
  .Button:last-child {
    margin-left: 20px;
  }
}
