.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 999;
  width: 100%;
  width: -webkit-fill-available;
  background: #fbf9f6;
  top: 0;
  @media (min-width: 700px) {
    padding: 20px;
  }
  .logo {
    height: 15px;
    @media (min-width: 700px) {
      height: 25px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  nav,
  .buttons {
    display: flex;
    align-items: center;
    .Button {
      margin-right: 10px;
      @media (min-width: 700px) {
        margin-left: 20px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .LinkMenu {
    margin-right: 10px;
  }
  .linkGuide {
    display: none;
    @media (min-width: 920px) {
      display: block;
    }
  }
}
