.div_input {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
  label {
    margin-bottom: 7px;
  }

  select {
    margin-bottom: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #245c60;
    background: #f7f7f7;
    font-family: 'Montserrat';
    &:focus {
      outline: none;
    }
  }
}
